.header {
  color: white;
  padding: 25px 0;
  &__container {
    background: #ac6c86;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 75px;
    border-radius: 10px;
  }

  &__input {
    border-radius: 10px;
    width: 326px;
    height: 36px;
    background-color: #e9d9e6;
    border: none;
  }

  &__nav {
    gap: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__left {
    display: flex;
    column-gap: 20px;
    align-items: center;
  }

  &__ipnut-wrapper {
    gap: 10px;
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
    column-gap: 15px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 25px;
  }
}
